{% extends "_template.html.twig" %}


{% block title %}
    Mentions légales
{% endblock %}

{% block content %}

        <section id="ml">
			
            <h1>Mentions légales</h1>
            
            <h2 class="titreml">Objet du site:</h2>

            <p>L’information mise à disposition sur le site vise à soutenir et non à remplacer la relation entre des patients et un professionnel de santé. Le site a pour mission de proposer au grand public des informations médicales et des informations pratiques sur le cabinet situé au MEX 5, Villa del Carbon, 54300 Villa del Carbón, Méx., Mexique.</p>
                
            <h2 class="titreml">Audience:</h2>
                
            <p>Ce site internet est majoritairement destiné à un large public en recherche d’informations médicales et prise de rendez-vous avec un praticien. </p>
                
            <h2 class="titreml">Rédacteurs du site:</h2>
                
            <p>Rodolphe DOREY, Jean-christian LEVÉ, Hervé BIZOLLIER, Yannick FREITAS.</p>
                
            <h2 class="titreml">Contact:</h2>
                
            <p>Nous vous invitons à nous contacter via le formulaire de contact présent sur notre site.</p>
                
            <h2 class="titreml">Hébergement du site:</h2>
                
            <p>HOSTINGER ("000WEBHOST")</p>
                
            <p>Cyprus private limited company,</p> 
                
            <h2 class="titreml">Legal address:</h2>
                
            <p>61 Lordou Vironos st. 6023 Larnaca, Cyprus</p> 
                
                
            <h2 class="titreml">Financement du site:</h2>
                
            <p>Le financement du site internet est entièrement financé par le Le Sr. Saul Alaniz Garcia et le Dr. Javier Alaniz Garcia.</p>
                
            <h2 class="titreml">Politique de publicité:</h2>
                
            <p>Le site ne reçoit pas de fond publicitaire.</p>
                
            <h2 class="titreml">Conflits d’intérêt:</h2>
                
            <p>Le Sr. Saul Alaniz Garcia et le Dr. Javier Alaniz Garcia  ne présentent aucun conflit d’intérêt financier avec l’industrie pharmaceutique ou laboratoire ou fabriquant de produits ou de matériels médicaux.</p>
                
            <h2 class="titreml">Propriété intellectuelle:</h2>
                
            <p>Tout le contenu original du site, y compris les textes et les images sont la propriété exclusive du Le Sr. Saul Alaniz Garcia et du Dr. Javier Alaniz Garcia  Toute reproduction ou représentation totale ou partielle, faite sans le consentement du Le Sr. Saul Alaniz Garcia et du Dr. Javier Alaniz Garcia constitue une contrefaçon pénalement sanctionnée.</p>
                
            <h2 class="titreml">Confidentialité:</h2>
                
            <p>Les informations collectées depuis le formulaire de contact (nom, prénom, adresse mail, et numéro de téléphone) sont utilisées exclusivement pour répondre à vos questions. En aucun cas, nous ne divulguons ces informations à des tiers. Les informations personnelles concernant les visiteurs de notre site sont confidentielles. Le responsable du site s’engage à respecter les conditions légales de confidentialité applicables en France. Conformément aux dispositions de la loi Informatique et Libertés du 6 janvier 1978, vous disposez d’un droit d’accès, de rectification, de suppression aux données vous concernant et vous pouvez à tout moment demander votre désinscription. Pour cela il vous suffit de nous en faire la demande en ligne via notre formulaire de contact.</p>
                
            <h2 class="titreml">Traitements en parodontologie / implantologie et sédation consciente:</h2>
                
            <p>Nous attirons votre attention sur le fait que tout traitement médical ou prise de médicaments présente des contre-indications relatives ou absolues et n’est de fait pas indiqué pour tous. Une analyse de votre état de santé lors de votre première consultation permettra de définir s’il est possible de vous traiter et éventuellement de vous sédater. Par ailleurs nous attirons également votre attention sur le fait que le résultat observé suite à un traitement est propre à la personne concernée et qu’un résultat identique ne peut être attendu pour une autre personne, en raison de la propre individualité de chacun.</p>
                
                
                
                
            <p id="maj">Page mise à jour le 28 décembre 2020</p>

        </section>
			
{% endblock %}