
{% extends "admin/_template.html.twig" %}

{% block title %}

Nouveau Membre

{% endblock %}

{% block content %}

<div class="section">

<h1 class="title"> Nouveau Membre</h1>


{% include 'admin/dashboard/_membre_equipe_form.html.twig' %}

</div>


{% endblock %}