{% extends "admin/_template.html.twig" %}

{% block title %}

Membre {{membre_equipe.nom}}

{% endblock %}


{% block content %}


<div class="section">
    <h1 class="title"> {{ membre_equipe.nom}}</h1>


        {% include 'includes/flash.html.twig' %}


{% include 'admin/dashboard/_membre_equipe_form.html.twig' %}



</div>


{% endblock %}
