{% extends 'admin/_template.html.twig' %}

{% block title %}
    Nouveau patient
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Nouveau patient</h1>
        
        {% include "admin/dashboard/_patient_form.html.twig" %}
          
    </div>
{% endblock %}