{% extends 'admin/_template.html.twig' %}

{% block title %}
    Nouveau patient
{% endblock %}

{% block content %}
    <div class="section">
     {% include "includes/flash.html.twig" %}
        <h1 class="title">Nouveau patient</h1>
        <div class="section-form-patient">
            {% include "admin/dashboard/_patient_form.html.twig" %}
        </div>
    </div>
{% endblock %}